@import url('https://allfont.net/allfont.css?fonts=agency-fb');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --ff-title: 'Bebas Neue', cursive;
  --ff: 'agency fb', arial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f5f5f5;
  }

  .navbar {
    padding: 1rem 0;
  }

  #header {
    text-decoration: none;
    color: white;
    margin-left: .5rem;
    padding: .6rem;
    background-color: #2D2D2D;
    font-family: var(--ff);
    text-transform: uppercase;
    border-radius: .2rem;
    box-shadow: 0px 2px 10px #595959;
    transition: .5s;
  }

  
  main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: auto;
    color: white;
  }

  section {
    background-color: #2D2D2D;
    border-radius: .4rem;
  }

  h1, h4 {
    font-family: var(--ff-title);
    text-align: center;
    margin: 1.25rem 0;
  }
  
  h1 {
    font-size: 5rem;
  }
  
  h4 {
    font-size: 1.7rem;
    margin-bottom: 3rem;
  }
  
  #form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
  }

  .half-box {
    text-align: center;
    padding: .6rem 4rem;
    
  }
  
  .half-box label {
    font-family: var(--ff);
    font-size: 1.3rem;
    display: block;
    text-transform: uppercase;
  }
  
  .half-box input {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: var(--ff);
    width: 18rem;
    padding: .6rem;
    outline: none;
  }

  .half-box input::placeholder {
    opacity: .2;
  }
  
  #button {
    grid-column: 2/3;
    margin: 2rem 4rem;
  }
  
  #btn {
    background-color: white;
    padding: .6rem 1.8rem;
    font-family: var(--ff);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: .5s;
  }

  #btn:hover {
    background-color: rgb(0, 238, 255);
  }
  
  footer {
    text-align: center;
    padding: .8rem;
    background-color: #2D2D2D;
    color: aliceblue;
  }

  @media screen and (max-width: 900px) {
    h1 {
      font-size: 4.5rem;
    }
    h4 {
      font-size: 1.3rem;
    }
    .half-box {
      padding: .3rem 2rem;
    }
    .half-box label {
      font-size: 1rem;
    }
    .half-box input {
      font-size: .7rem;
      width: 16rem;
    }
    #button {
      margin: 2rem 2rem;
    }
    #btn {
      padding: .4rem 1.5rem;
      font-size: .8rem;
    }
  }

  @media screen and (max-width: 650px) {
    h1 {
      font-size: 3.5rem;
    }
    h4 {
      font-size: 1rem;
    }
    .half-box {
      padding: .3rem 1.5rem;
    }
    .half-box label {
      font-size: .8rem;
    }
    .half-box input {
      font-size: .6rem;
      width: 10rem;
    }
    #button {
      margin: 2rem 1rem;
    }
    #btn {
      padding: .4rem 1.5rem;
      font-size: .7rem;
    }
  }

  @media screen and (max-width: 450px) {
    h1 {
      font-size: 3rem;
    }
    h4 {
      font-size: .8rem;
    }
    .half-box {
      padding: .3rem 8vw;
    }
    .half-box input {
      font-size: .6rem;
      width: 8rem;
    }
    #button {
      margin: 2rem 8vw;
    }
    #btn {
      padding: .4rem 1.5rem;
      font-size: .7rem;
    }
  }



