@import url('https://allfont.net/allfont.css?fonts=agency-fb');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root {
  --ff-title: 'Bebas Neue', cursive;
  --ff: 'agency fb', arial;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f5f5f5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .header-img {
    width: 100%;  
    height: 99.7vh;  
    object-fit: cover;
  }

  header {
    position: absolute;
    top: 2rem;
    width: 100%;
  }

  .list-items {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0 2rem;
    text-transform: uppercase;
}

.push-right {
    margin-left: auto;
}

.list-items a {
    color: rgb(0, 217, 255);
    text-decoration: none;
    font-size: 1.25rem;
    background-color: rgba(255, 255, 255, 1);
    padding: .5rem 1.5rem;
    border-radius: .2rem;
    transition: .5s;
}

.list-items a:hover {
    background-color: black;
    color: whitesmoke;
}
  
  main {
    text-align: center;
  }
  
  h1 {
    position: absolute;
    line-height: 160px;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 8vw;
    top: 40vh;
    left: 15vw;
    padding: 0 2rem;
    opacity: .8;
  }
  
  h2 {
    font-size: 2.5rem;
    font-family: var(--ff);
    text-transform: uppercase;
    margin-bottom: 5%;
  }

  
  
  #hr {
    background-color: #2D2D2D;
    color: aliceblue;
    text-transform: uppercase;
    margin-top: -.4rem;
  }

  #title2 {
    margin-top: 200px;
    margin-bottom: 200px;
    font-size: 60px;
  }
  
  #p1 {
    font-size: 2rem;
    padding: 4.5rem;
    text-align: center;
    font-family: var(--ff);
  }
  
  .destinos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 0 1rem;
  }
  
  .img-destinos {
    width: 100%;
    border-radius: .3rem .3rem 0 0;
    object-fit: cover;
  }
  
  .local {
    color: black;
    border-radius: .6rem;
    box-shadow: 0px 4px 10px #595959;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 2rem;
    font-family: var(--ff-title);
    text-transform: uppercase;
    margin: 1.5rem 0;
  }

  .local p {
    text-align: justify;
    font-size: 1.2rem;
    font-family: var(--ff);
    font-weight: 600;
    width: 80%;
    margin: auto;
  }
  
  .dm {
    font-family: var(--ff);
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0;
    background-color: #2D2D2D;
    padding: .5rem;
    border: none;
    border-radius: .2rem;
    transition: .5s;
  }

  .dm:hover {
    background-color: #595959;
  }

  .dm a {
    text-decoration: none;
    color: white;
  }

  footer {
    background-color: #2D2D2D;
    color: aliceblue;
    padding: 15px 0;
    margin-top: 5rem;
    text-align: center;
  }
  
@media screen and (max-width: 1000px) {
  .destinos {
    grid-template-columns: 1fr 1fr;
  }
  .cancun {
    grid-column: 1/3;
    justify-self: center;
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .destinos {
    grid-template-columns: 1fr;
    width: 80%;
    margin: auto;
  }
  .cancun {
    grid-column: 1/1;
    width: auto;
  }
  .list-items a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 9.5vw;
    left: 8vw;
  }
  #p1 {
    padding: 3rem;
    font-size: 1.5rem;
  }
  #title2 {
    font-size: 2.5rem;
  }
  .destinos h2 {
    font-size: 1.5rem;
  }
  .destinos p {
    font-size: 1rem;
  }
  .dm  {
    font-size: 1.3rem;
  }
  .list-items a {
    font-size: .8rem;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 8vw;
    left: 9vw;
  }
  .list-items a {
    font-size: .5rem;
  }

}