* {
    padding: 0;
    margin: 0;
}

body {
    background-color: mintcream;
}

#header {
    position: fixed;
    top: 3px;
    left: 3px;
    background-color: black;
    color: white;
    padding: 10px;
    font-family: agency fb;
    text-transform: uppercase;
    text-decoration: none;
}

#hreg, #hlogt {
    position: fixed;
    top: 3px;
    right: 3px;
    padding: 10px;
    width: 80px;
    background-color: black;
    font-family: agency fb;
    text-align: center;
    text-transform: uppercase;
}

#hlog {
    position: fixed;
    top: 3px;
    right: 110px;
    padding: 10px;
    width: 80px;
    background-color: black;
    font-family: agency fb;
    text-align: center;
    text-transform: uppercase;
}
  
#hlog a, #hreg a, #hlogt a {
    color: white;
    text-decoration: none;
}

#container {
    margin: 2% 15%;
    text-align: center;
}

h1 {
    font-size: 10rem;
    font-family: agency fb;
    text-transform: uppercase;
    margin-bottom: 5%;
    text-decoration: underline;
}

h2 {
    font-size: 2.5rem;
    font-family: agency fb;
    text-transform: uppercase;
    margin-bottom: 5%;
}

h3 {
    font-size: 2.5rem;
    font-family: agency fb;
    text-transform: uppercase;
    margin-top: 5%;
    margin-bottom: 2%;

}
p {
    text-align: justify;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
}

#image1, #image2 {
    margin-right: 2%;
    margin-left: 2%;
}

#video1, #video2 {
    margin-right: 2%; 
    margin-left: 2%;
    margin-bottom: 5%;
}

table {
    border-collapse: collapse;
    width: 100%;

    
}
  
th, td {

    text-align: left;
    padding: 8px;
}
  
tr:hover {
    background-color: #4b4b4b;
    color: white;
}
  
th {
    background-color: #AAF8FD;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}

form {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 20px; 

}

button {
    background-color: #AAF8FD;
    padding: 5px 20px;
    font-family: agency fb;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    border-radius: 8px;
    border: 1px solid black;
    margin-top: 2%;
    outline: none;
}

a {
    text-decoration: none;  
}
